In [32]:
#Create the function that will capitalize the first letter of first name and last name.
#Input:gopu tejashwini
#Expected output:Gopu Tejashwini
x1='gopu'
x2='tejashwini'
print(x1.capitalize())
print(x2.capitalize())
print(x1.capitalize(),x2.capitalize())

Gopu
Tejashwini
Gopu Tejashwini

In [33]:
def cap_names(x):
    a=x.title()
    return a
cap_names("gopu tejashwini")

'Gopu Tejashwini'

In [34]:
def cap_names(x):
    a=x.split(' ')
    a=(i.capitalize() for i in a)
    return' '.join(a)
cap_names("gopu tejashwini")

'Gopu Tejashwini'

In [35]:
def cap_names(x):
    a=x.split(' ')
    b=[]
    for i in range(len(a)):
        b.append(a[i].capitalize())
    return' '.join(b)
cap_names("gopu tejashwini")

'Gopu Tejashwini'

In [36]:
#Create a DataFrame with 4-5 names and apply this function on that dataframe to give proper case names.
import pandas as pd
data={"Names":["gopu tejashwini","bairavi rajashree","baraigala vijayalaxmi","gangi vaishnavi","poloju manasa"]}
df=pd.DataFrame(data)

In [37]:
type(df["Names"])

pandas.core.series.Series

In [38]:
df["Names"][1]

'bairavi rajashree'

In [39]:
print(cap_names(df["Names"][1]))

Bairavi Rajashree

In [40]:
for i in range(len(df["Names"])):
    print(cap_names(df["Names"][i]))

Gopu Tejashwini
Bairavi Rajashree
Baraigala Vijayalaxmi
Gangi Vaishnavi
Poloju Manasa

In [41]:
list1=[]
for i in range(len(df["Names"])):
    list1.append(cap_names(df["Names"][i]))
print(list1)

['Gopu Tejashwini', 'Bairavi Rajashree', 'Baraigala Vijayalaxmi', 'Gangi Vaishnavi', 'Poloju Manasa']

In [42]:
df["Names"]=list1

In [43]:
df

                   Names
0        Gopu Tejashwini
1      Bairavi Rajashree
2  Baraigala Vijayalaxmi
3        Gangi Vaishnavi
4          Poloju Manasa

In [44]:
import calendar

In [1]:
class Employee:
    comp="DELL"
    depart="WIAI"
    def wish(self):
        print("Good Morning")
    def add(self,a,b):
        return(a+b)

In [2]:
X=Employee()

In [3]:
X.comp

'DELL'

In [4]:
X.wish()

Good Morning

In [5]:
X.add(5,7)

12

In [6]:
20+X.add(1,4)

25

In [165]:
X.depart

'WIAI'

In [144]:
class Employee:
    comp="LLF"
    depart="WIAI"
    def __init__(self,name):
        print(f"{name},Welcome to LLF")
    def wish(self):
        print("Good Morning")
    def add(self,a,b):
        return(a,b)

In [145]:
X=Employee("Teju")

Teju,Welcome to LLF

In [146]:
class Employee:
    comp="LLF"
    depart="WIAI"
    def wish(self):
        print("Good Morning")
    def add(self,a,b):
        return(a+b)

class Employee2:
    comp="google"
    location="delhi"

In [147]:
y=Employee()

In [148]:
y.comp

'LLF'

In [58]:
y.wish()

Good Morning

In [59]:
y.add(4,4)

8

In [60]:
class Employee:
    comp="LLF"
    depart="WIAI"
    def wish(self):
        print("Good Morning")
    def add(self,a,b):
        return(a+b)

class Employee2:
    comp="google"
    location="delhi"
    def exp(self,a,b):
        return(a**b)

In [61]:
x=Employee()

In [62]:
y=Employee2()

In [63]:
x.add(2,6)

8

In [64]:
y.exp(2,6)

64

In [65]:
#Create a clas with name classroom.
#Add functions to add new students or remove students.
#Add function to collect email id/contact details.
class classroom:
    def __init__(self):
        self.students=[]
        self.contacts=[]
    def add_student(self,name):
        s=name 
        self.students.append(s)
    def add_contact(self,email_id):
        e=email_id
        self.contacts.append(e)
    def remove_stud(self,name):
        self.students.remove(name)

In [66]:
x=classroom()

In [67]:
x.add_student("Sanskriti")

In [68]:
x.add_student("Tejashwini")

In [69]:
x.students

['Sanskriti', 'Tejashwini']

In [70]:
x.remove_stud("Sanskriti")

In [71]:
x.add_student("Vijju")

In [72]:
x.students

['Tejashwini', 'Vijju']

In [73]:
#Create a shopping cart app which will take the items and give total bill to customer.

In [74]:
pip install rake_nltk

Requirement already satisfied: rake_nltk in c:\users\gopu tejashwini\anaconda3\lib\site-packages (1.0.6)
Requirement already satisfied: nltk<4.0.0,>=3.6.2 in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from rake_nltk) (3.8.1)
Requirement already satisfied: click in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from nltk<4.0.0,>=3.6.2->rake_nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from click->nltk<4.0.0,>=3.6.2->rake_nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [75]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Gopu
[nltk_data]     Tejashwini\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [76]:
True

True

In [77]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Gopu
[nltk_data]     Tejashwini\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [153]:
from rake_nltk import Rake
rake_nltk_var=Rake()
text="""I am a programmer from India, and I am here to guide you with Data Science,Machine learning,Python ,and C++ for free.
I hope you will learn a lot in your journey towards coding,Machine learning and Artificial intelligence."""
rake_nltk_var.extract_keywords_from_text(text)
keyword_extracted=rake_nltk_var.get_ranked_phrases()
print(keyword_extracted)

['journey towards coding', 'machine learning', 'machine learning', 'data science', 'c ++', 'artificial intelligence', 'python', 'programmer', 'lot', 'learn', 'india', 'hope', 'guide', 'free']

In [79]:
pip install yake

Requirement already satisfied: yake in c:\users\gopu tejashwini\anaconda3\lib\site-packages (0.4.8)
Requirement already satisfied: tabulate in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from yake) (0.9.0)
Requirement already satisfied: click>=6.0 in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from yake) (8.1.7)
Requirement already satisfied: numpy in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from yake) (1.26.4)
Requirement already satisfied: segtok in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from yake) (1.5.11)
Requirement already satisfied: networkx in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from yake) (3.1)
Requirement already satisfied: jellyfish in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from yake) (1.0.1)
Requirement already satisfied: colorama in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from click>=6.0->yake) (0.4.6)
Requirement already satisfied: regex in c:\users\gopu tejashwini\anaconda3\lib\site-packages (from segtok->yake) (2023.10.3)
Note: you may need to restart the kernel to use updated packages.

In [80]:
import yake
kw_extractor=yake.KeywordExtractor()
text="""I am a programmer from India, and I am here to guide you with Data Science,Machine learning,Python ,and C++ for free.
I hope you will learn a lot in your journey towards coding,Machine learning and Artificial intelligence."""
language="en"
max_ngram_size=3
deduplication_threshold=0.9
numOfKeywords=20
custom_kw_extractor = yake.KeywordExtractor(lan=language, n=max_ngram_size, dedupLim=deduplication_threshold, top=numOfKeywords,features=None)
keywords=custom_kw_extractor.extract_keywords(text)
for kw in keywords:
    print(kw)

('Data Science,Machine learning,Python', 0.001170599092507011)
('programmer from India', 0.008334116283452563)
('Data Science,Machine', 0.01143354430345338)
('Science,Machine learning,Python', 0.015099935621315529)
('India', 0.05572221155747183)
('Artificial intelligence', 0.06627380602544088)
('Data', 0.07621084492189614)
('learning and Artificial', 0.0916308214273787)
('learning,Python', 0.10028582371075691)
('free', 0.10028582371075691)
('programmer', 0.14832923246533666)
('guide', 0.14832923246533666)
('Science,Machine', 0.14832923246533666)
('learn a lot', 0.165573765898185)
('journey towards coding,Machine', 0.165573765898185)
('coding,Machine learning', 0.165573765898185)
('Artificial', 0.22271009814206713)
('intelligence', 0.2790829227183407)
('hope', 0.37689977775222827)
('learn', 0.37689977775222827)