In [1]:
#print duplicates presents in the given list 
l=[10,20,30,10,50,20,'yu',6,'yu']
d=[]
for i in l:
    if l.count(i)>1 and i not in d:
        d.append(i)
print(d)

[10, 20, 'yu']

In [2]:
#print duplicates present in the given list without using any built function
d=[]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]==l[j]:
            d.append(l[i])
print(d)

[10, 20, 'yu']

In [3]:
for j in range(5):
    for i in range(5):
        print('*',end='')

*************************

In [4]:
#SQUARE
for j in range(25):#This loop into rows
    for i in range(25):#This loop into columns
        print('*',end='  ')#Here is space so thet there is space b/w each square
    print()

*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *

In [5]:
#Increasing Trinagle
for j in range(5):#This loop into rows
    for i in range(j+1):#This loop into columns
        print('*',end=' ')#Here is space so thet there is space b/w each square
    print()

*
* *
* * *
* * * *
* * * * *

In [6]:
#Decreasing triangle
for j in range(5):#This loop into rows
    for i in range(j,5):#This loop into columns
        print('*',end=' ')#Here is space so thet there is space b/w each square
    print()

* * * * *
* * * *
* * *
* *
*

In [7]:
#Right sided Triangle
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('0',end=' ')
    print()

          0
        0 0
      0 0 0
    0 0 0 0
  0 0 0 0 0

In [8]:
for i in range(5,1,-1):
    for j in range(5, 1,-1):
        print(i,end=' ')
    print()

5 5 5 5
4 4 4 4
3 3 3 3
2 2 2 2

In [53]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [10]:
#Hill pattern
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [11]:
# Reverse Hill pattern
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [12]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    for j in range(i):
        print('*',end=' ')
    print()

for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [2]:
#Write a program to check value is type list.
data={'Jay':['male',2000],'Kiran':'male','vijay':['male',1998],'Sanskriti':['female',2002]}
count=0
for i in data:
    if isinstance(data[i],list):
        count+=1
print(count)

3

In [61]:
count = 0
for item in data:
    if isinstance(item, str):  # Use isinstance to check if an item is of type string
        count += 1

In [62]:
data['Jay']

['male', 2000]

In [63]:
data.values()

dict_values([['male', 2000], 'male', ['male', 1998], ['female', 2002]])

In [19]:
dataitems=list(data.items())

In [20]:
dataitems

[('Jay', ['male', 2000]),
 ('Kiran', 'male'),
 ('vijay', ['male', 1998]),
 ('Sanskriti', ['female', 2002])]

In [21]:
type(dataitems[0][1])

list

In [22]:
len(dataitems[1])

2

In [23]:
#WITHOUT USING INSTANCE FUNCTION
count=0
for i in range(len(dataitems)):
    if type(dataitems[i][1])==list:
            count+=1
print(count)

3

In [24]:
#RECURSIVE FUNCTIONS
#Factorial with recursive function.
def factorial(n):
    if n==1:
        return 1
    else:
        return(n*factorial(n-1))

print(factorial(5))

120

In [25]:
#Factorial without recursive function.
num=int(input("Number for factorial?"))
factorial=1
for i in range(1,num+1):
    factorial=factorial*i
print(num,'!',"=",factorial)

Number for factorial? 4

4 ! = 24

In [26]:
#Find Prime numbers:
prime=[]
for i in range(2,20):
    c=0
    for j in range(1,i):
        if i%j==0:
            c+=1
    if c==1:
        prime.append(i)
print(prime)
print(sum(prime))

[2, 3, 5, 7, 11, 13, 17, 19]
77

In [27]:
#Check if given number is prime or not?
n=int(input("Number?"))
for i in range(2,n):
    if n%i==0:
        print("not a prime number")
        break
    else:
        print("prime number")
        break

Number? 5

prime number

In [28]:
#Palindrome
s=input()
if s==s[::-1]:
    print("Palindrome")
else:
    print("not")

 4

Palindrome

In [31]:
str1=input()
list1=str1.split(' ')
print(list1)
list2=list1[::-1]
print(list2)
str2=' '.join(list2)
print(str2)

  Gopu Tejashiwni

['', 'Gopu', 'Tejashiwni']
['Tejashiwni', 'Gopu', '']
Tejashiwni Gopu

In [32]:
#Write unique values from list.
mylist=[1,2,2,2,3,3,3,5,5,2,2,9,2,2,2,8,8,0,7,5]
new_list=[]
for i in mylist:
    if mylist.count(i)==1:
        new_list.append(i)
print(new_list)

[1, 9, 0, 7]

In [33]:
#Using lisyt comprehension
[i for i in mylist if mylist.count(i)==1]

[1, 9, 0, 7]

In [34]:
#Find the occurences of each elemnt
str1="a,a,a,f,e,t,g]"
list1=str1.split(',')
count_ele=[]
str_ele=[]
for ch in list1:
    if not ch in str_ele:
        count_ele.append(f"{ch}:{list1.count(ch)}")
        str_ele.append(ch)
print(",".join(count_ele))

a:3,f:1,e:1,t:1,g]:1

In [35]:
#LAMBDA FUNCTION.
b=[[6,8],[90,4],[23,67]]
c=[2,8,6,9,10,23,14]
b.sort(key=lambda x:x[0])
print(b)
print(sorted(c))

[[6, 8], [23, 67], [90, 4]]
[2, 6, 8, 9, 10, 14, 23]

In [36]:
try:
    n=int(input("How many numbers?"))
except:
    print("Please enter number")
else:
    list_num=[]
    try:
        for i in range(n):
            num=int(input())
            list_num.append(num)
        mean=lambda x:sum(x)/len(x)
        print(mean(list_num))
    except:
        print("Some error occured")

How many numbers? 2
 45
 46

45.5

In [37]:
2+5+3+6+8

24

In [38]:
20/5

4.0

In [39]:
#NUMBER PATTERNS
n=5
p=1
for i in range(n):#This loop goes into rows
    for j in range(i+1):#This loop goes into columns
        print(p,end=' ')
    p+=1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [54]:
#Increasing triangles decreasing numbers
n=5
p=n
for i in range(n):#This loop goes into rows
    for j in range(i+1):#This loop goes into columns
        print(p,end=' ')
    p-=1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [41]:
#Increasing triangles even numbers
n=5
p=0
for i in range(n):#This loop goes into rows
    for j in range(i+1):#This loop goes into columns
        print(p,end=' ')
    p+=2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [42]:
#Increasing triangles even numbers
n=5
for i in range(n):#This loop goes into rows
    for j in range(i+1):#This loop goes into columns
        if (i%2==0):
            print(1,end=' ')
        else:
            print(2,end=' ')#here is space so that there is space between each numbefr
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [43]:
n=5
p=1
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
    p+=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [44]:
n=5
p=1
for i in range(n-1):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print(p,end=' ')
    for j in range(i):
        print(p,end=' ')
    p+=1
    print()
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
    for j in range(i,n-1):
        print(p,end=' ')
    p-=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [45]:
#Increasing triangles increasing numbers
n=5
for i in range(n):#This loop goes into rows
    p=1
    for j in range(i+1):#This loop goes into columns
        print(p,end=' ')
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [46]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    p=1
    for j in range(i,n):
        print(p,end=' ')
        p+=1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [47]:
#HILL PATTERN
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    p=1
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    for j in range(i):
        print(p,end=' ')
        p+=1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [48]:
n=5
for i in range(n):
    p=n
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [49]:
n=5
for i in range(n):
    p=n
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    print()

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

In [50]:
n=5
k=n
for i in range(n):
    p=k
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print(p,end=' ')
        p-=1
    k-=1
    print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [51]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    p=1
    for j in range(i):
        print(p,end=' ')
        p+=1
    for j in range(i+1):
        print(p,end=' ')
        p-=1
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [52]:
n=5
p=1
for i in range(n):
    for j in range(i+1):
        print(p,end=' ')
        p+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15